/*
Color Palette
#031E21 dark green
#F8FAF7 snow
#F3EAC5 lemon-meringue 
#F7A072 light salmon
#33A7B4 verdigris
*/

/* Global Styles
-------------------------------------------*/
*, :after, ::before {
    box-sizing: border-box;
    
}
html {
    height: 100vh;
}
body {
    color: #031e21;
    background-color: #F8FAF7;
    font-family: 'Slabo 27px', monospace;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: larger;
}
body h3, body p {
    letter-spacing: .5px;
}
a {
    color: #031E21;
}
a:hover {
    text-decoration: none;
}
h1, h2 {
    font-family: 'Raleway', sans-serif;
}
h1 {
    margin-top: 0;
    transition: color .4s;
    font-size: 80px;
    margin-bottom: .25em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #031E21;
}
h1:hover {
    color: rgb(51, 167, 180);
}
h2 {
    margin: 0;
    font-size: 45px;
    transition: .2s;
}
.content-wrap {
    max-width: 850px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}
p {
    line-height: 1.5;
    letter-spacing: .01em;
}
/* Nav Bar 
-------------------------------------------*/
nav {
    padding: 10px 50px;
}
nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 3%;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    position: relative;
    width: 100%;
}
nav li:hover .dropdown li {
    display: block;
}
.dropdown {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
}
.dropdown li{
    display: none;
    position: relative;
}
nav a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-items: center;
}
nav a:hover {
    color: rgb(51, 167, 180);
}

/* Profile
-------------------------------------------*/
header {
    background-color: rgba(247, 160, 114, .2);
}
header h2:hover {
    text-shadow: 0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF;
    color: rgb(143, 232, 241);
}
/* Projects
-------------------------------------------*/
#vc-logo {
    width: 300px;
}
#vc-figma {
    width: 600px;   
}
.projects-section {
    background-color: rgba(243, 234, 197, .2);
}
.projects-section .btn {
    text-decoration: none;
    background-color: rgb(51, 167, 180);
    color: #F8FAF7;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
    transition: .4s;
}
.projects-section .btn:hover {
    background-color: rgba(51, 167, 180, 80%);
}

/* Work Experience
-------------------------------------------*/
.work-exp-section {
    background-color: rgba(51, 167, 180, .2);
}
.work-exp-grid {
    display: grid;
    grid-template-columns: 1fr;
}

/* Education
-------------------------------------------*/

.education-section {
    background-image: url(../images/joanna-kosinska-unsplash.jpg);
    background-size: cover;
    background-position: top right;
}
.education-section p {
    width: 60%  ;
}

/* Contact Info
-------------------------------------------*/
footer {
    background-color: rgba(247, 160, 114, .2);
}
footer div ul {
    list-style: none;
    padding-left: 0;
}
.contact-form section{
    margin-right: 20px;
}
.flex-area {
    margin: 20px 0 20px 0;
}
.name-flex-area {
    display: flex;
}
.phone-email-flex-area {
    display: flex;
}
.subject-interest-flex-area {
    display: flex;
}
input[type=text] {
    /*width: 133px;*/
    width: 100%;
    height: 36px;
    border: 1px solid rgba(255, 255, 255, 0);
    padding-left: 12px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Slabo 27px', monospace;
    color: #959595;
}
input[type=tel] {
    /*width: 133px;*/
    width: 100%;
    height: 36px;
    border: 1px solid rgba(255, 255, 255, 0);
    padding-left: 12px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Slabo 27px', monospace;
    color: #959595;
}
input[type=email] {
    /*width: 133px;*/
    width: 100%;
    height: 36px;
    border: 1px solid rgba(255, 255, 255, 0);
    padding-left: 12px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Slabo 27px', monospace;
    color: #959595;
}
select {
    /*width: 306px;*/
    width: 100%;
    height: 36px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 0px;
    padding-left: 12px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Slabo 27px', monospace;
    color: #959595;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxI…BvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}
.contact-form textarea {
    margin-top: 1%;
    width: 90%;
    height: 203px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 0px;
    padding-left: 12px;
    padding-top: 8px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Slabo 27px', monospace;
    color: #959595;
    resize: none;
}
/*first and second element change ^ v */
ul {
    list-style: square;
}

/* Responsive CSS
-------------------------------------------*/

@media screen and (min-width: 680px) {
    .projects-section section img {
        float: right;
    }
    .work-exp-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 679px) {
    h1 {
        font-size: 72px;
    }
    h2 {
        font-size: 40px;
    }
    nav li:focus .dropdown li {
        display: block;
    }
}
@media screen and (max-width: 570px) {
    nav ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}